/* SALVAR VARIAVEIS DE COR */

:root {
    --fundo-principal: #001F3F;
/* • Passa seriedade com uma base azul profunda. */

--secoes-importantes: #003F88;
/* • Cria camadas sem perder coerência. */

--botoes-interatividade: #00B8D9;
/* • Dá aquele brilho tecnológico. */

--nav-fundo: #E1EAF2;
    /* --cor-principal: #2EC4B6; */
    --texto-principal: #000000;
    --cards-e-texto: #ffffff;
    /* --cor-bordas-card: linear-gradient(90deg, #69a8d1, #42c2b6); */
}
/* GRADIENTE PRINCIPAL
linear-gradient(90deg, #50b3a2, #53e3a6) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* CONFIGURAR RESPONSIVIDADE DE TODAS AS PAGINAS PARA DIVERSOS DISPOSITIVOS */
/* AJUSTAR TEXTOS DO HERO */
/* AJUSTAR RESPONSIVIDADE DO FOOTER */
/* AJUSTAR CONTEUDO DOS BANNERS */
/* SE POSSIVEL CONFIGURAR TRADUCAO DA PAGINA */

html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    height: 100%;
}

/* CONFIGURAR O HEADER */
header {
    background: var(--fundo-principal);
    color: var(--cards-e-texto);
    padding: 10px 0;
    /* text-align: center; */
    /* margin-bottom: 20px; */
    /* position: fixed; */
    width: 100%;
    top: 0;
    /* border-bottom: 1px solid var(--cards-e-texto); */
    display: flex;
    gap: 20px;
    align-items: center;

}
header h1 {
    margin-left: 15px;
}

header i {
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s;
}

header i:hover {
    color: var(--botoes-interatividade);
}

#iconButtom {
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}
#cart-ui {
    position: relative;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--botoes-interatividade);
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 12px;
}


/* CONFIGURAR O SELETOR DE IDIOMA */
#idioma {
    margin-left: 20px;
    padding: 2px;
    border-radius: 10px;
    border: none;
    background-color: white;
    backdrop-filter: blur(10px);
}

.navbar {
    display: flex;
    justify-content: center;
    background: var(--nav-fundo);
}
.navbar a {
    color: var(--texto-principal);
    padding: 5px 20px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5px;
}

/* CONFIGURAR EFEITOS DO MENU */
.navbar a:hover {
    background: var(--fundo-principal);
    color: var(--cards-e-texto);
    width: 100%;
    border-radius: 0 0 30px 30px;
    transition: 0.7s;
    clip-path: path("M0 0 H100% V40 Q50% 90 0 40 Z");
}

ul {
    list-style: none;
}

/* CONFIGURAR O MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 60px; Espaço para o footer fixo */
}

/* CONFIGURAR O HERO */
#hero {
    position: relative;
    background: var(--fundo-principal);
    /* color: var(--cor-texto-secundaria); */
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    /* border-bottom: 1px solid var(--botoes-interatividade); */
}

.hero svg {
    position: absolute;
    bottom: -3px;
    margin-top: -100px;
    left: 0;
    width: 100%;
    /* height: 100px; */
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    background: none;
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    /* height: 100%; */
    padding: 0;
    position: relative;
    z-index: 2;
    margin: 5rem;

    /* fill: #ffffff; */
}

.hero-content p {
    font-size: 25px;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    color: var(--nav-fundo);
     font-family: 'Arial Black', sans-serif;
}
.hero-content small {
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    font-weight: bolder;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    /* color: var(--nav-fundo); */
    color: #E5E7EB;
} 
.hero-content button { 
    font-size: 16px;
    /* padding: 10px 20px; */
     /* margin: 10px 5rem;  */
    /* background: none; */
    border: 2px solid var(--botoes-interatividade);
    color: var(--botoes-interatividade);
    /* width: 20%; */

} 

.hero-img img {
    position: absolute;
    display: block;
    background: transparent;
    top: 2px;
    right: 2%;
    width: 200px;
    overflow: hidden;
    max-width: 250px;
    filter: drop-shadow(0 25px rgba(0, 0, 0, 0.25));
    transition: transform 0.4s ease;
    background: none;
    z-index: 2;
    transform: perspective(800px) rotateY(-12deg) rotateX(5deg);

}

.hero img:hover {  
 transform: perspective(800px) rotateY(-6deg) rotateX(3deg) scale(1.03);  
 transition: 0.4s ease;
}  

/* CONFIGURAR O CATEGORY */
.category-nav {
    background: var(--cor-texto-secundaria);
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid var(--botoes-interatividade);
}

.category-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-nav li {
    margin: 0 15px;
}

.category-nav a {
    color: var(--cor-texto-principal);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.category-nav a:hover {
    background: var(--botoes-interatividade);
    color: var(--nav-fundo);
}

/* CONFIGURAR OS SERVIÇOS */
.servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.service {
    background: var(--cards-e-texto);
    /* border: 1px solid var(--cor-principal); */
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    justify-items: center;
    text-size-adjust: 100%;
    max-width: 200px;
    /* height: 100px; */
    flex: 1 1 calc(25% - 40px);
    /* size: 20px; */
}
/* AJUSTAR OS MAIS VENDIDOS */
.best-sellers {
    display: flex;
    /* flex-wrap: wrap; */
    /*  DEIXAR OS CARDS EM CARROSSEL */
    /* overflow: hidden; */
    /* scroll-behavior: smooth; */

    /* justify-content: center; */
    align-items: center;
    margin: 10px auto;
    padding: 30px;
    margin-bottom: 30px;
    /* width: 100%; */
    /* overflow-y: ; */
    /* overflow-x: scroll; */
    gap: 5px;
    max-height: max-content;
    max-width: 90%;
}

/* .best-sellers .card {
    background: var(--cor-texto-secundaria);
    border: 2px solid var(--cor-principal);
    border-radius: 5px;
    /* box-shadow: var(--cor-texto-principal); */
    /* margin: 10px;
    padding: 10px;
    text-align: center;
    max-width: 200px;
    flex: 1 1 calc(33% - 40px);
    
} */ 

/* CONFIGURAR OS BANNERS */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    background: var(--botoes-interatividade);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-height: max-content;
    /* #02d9ff69; */
}

.banner img {
    width: 200px;
    filter: drop-shadow(0 25px rgba(0, 0, 0, 0.25));
    transition: transform 0.4s ease;
    background: none;
    display: block;
    overflow: hidden;
    z-index: 2;
}
.banner h2 p {
    margin-left: 50px;
    color: var(--cor-texto-principal);
    text-align: left;
}

.banner img {
    transform: perspective(800px) rotateY(-12deg) rotateX(5deg);
}

.banner img:hover {  
 transform: perspective(800px) rotateY(-6deg) rotateX(3deg) scale(1.03);  
 transition: 0.4s ease;
}  
.banner-content {
    margin-right: 50px;
    color: var(--cor-texto-secundaria);
    text-align: left;
}

/* CONFIGURAR OS CARDS */
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    /* margin-bottom: 30px; */
    max-width: 90%;
    overflow: hidden;
    padding: 0;
    /* border: var(--cor-bordas-card); */
}

#cards h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    /* font-size: 28px; */
}

.card {
    display: flex;
    flex-direction: column;
    background: var(--cards-e-texto);
    /* border: 1px solid var(--cor-bordas-card); */
    border-radius: 5px;
    /* box-shadow: var(--cor-texto-principal); */
    margin: 10px 15px;
    padding: 10px;
    text-align: center;
    width: 200px;
    font-size: smaller;
    /* ALTERANDO ALTURA */
    /* max-height: 350px;
    flex: 1 1 calc(33% - 40px); */
    overflow: hidden;
}
.card img {
    /* max-width: 100%;
    height: auto; */
    /* max-width: 100%;
    height: 100px;
    margin-bottom: 5px; */
    /* object-fit: contain; */
    max-width: 100px;
    height: 100px;
    margin: auto;
}
.card h3 {
    margin-bottom: 5px;
    font-size: 16px;
}
.card p {
    font-size: 14px;
    margin-bottom: 10px;
    /* padding: 0 5px; */
    flex: 1 1 calc(100% - 10px);
    overflow: hidden;
}
.card span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    /* margin-bottom: 10px; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0; */
}
.card button {
    background: var(--nav-fundo);
    color: var(--fundo-principal);
    border: none;
    padding: 10px ;
    cursor: pointer;
    margin: 10px auto 0 auto;
    
}

#moreProducts {
    background: var(--botoes-interatividade);
    color: var(--cards-e-texto);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* CONFIGURAR O REVIEWS */
#reviews {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: 20px 0;
    margin-bottom: 30px;
    max-width: 80%;
    /* border: var(--cor-bordas-card); */
}

#reviews h2 {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#reviews .review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* margin: 20px 0; */
    /* margin-bottom: 30px; */
    max-width: 1000px;
    /* border: var(--cor-bordas-card); */
}
.review {
    background: var(--cards-e-texto);
    /* border: 1px solid var(--cor-principal); */
    border-radius:10px;
    margin: 10px 15px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    max-width: max-content;
    flex: 1 1 calc(33% - 40px);
    gap: 10px;
}
#reviews .review p {
    font-style: italic;
    margin-bottom: 10px;
}
#reviews .review strong {
    color: var(--fundo-principal);
}

/* CONTEÚDO DO FOOTER */
footer {
    display: flex;
    /* flex-direction: column; */
    align-items: baseline;
    /* flex-wrap: nowrap;
    justify-content: row; */
    background: var(--fundo-principal);
    color: var(--cards-e-texto);
    text-align: center;
    padding: 40px ;
    position: relative;
    width: 100%;
    /* float: left; */
    /* height: 40px; */
    bottom: 0;
    overflow: hidden;
    /* margin-top: 60px; Espaço para o main */
}

.info-footer {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    /* gap: 30px; */
    max-width: 80%;
    /* margin: 20px; */
    padding: 0;
}

.info-container{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    max-width: 80%;
    margin: 20px;
    padding: 0;
}

h4 {
    font-size: larger;
    margin-bottom: 0;
}

/* AJUSTAR FORM DO FOOTER EM COLUNM, LINKS DE TERMOS A ESQUERDA */
#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
    /* margin-top: 40px; */
    /* margin-bottom: 20px; */
    gap: 10px;
    flex: 1 1 calc(33% - 40px);
    /* height: max-content; */
    max-width: 100%;
}
#newsletter input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
}
/* AJUSTAR BOTÃO DO FOOTER */
#newsletter button {
    padding: 10px;
    border: 1px solid var(--cor-texto-secundaria);
    border-radius: 5px;
    background: var(--nav-fundo);
    color: var(--secoes-importantes);
    cursor: pointer;
    margin-top: 0;
}

#newsletter button:hover {
    background: var(--botoes-interatividade);
    color: var(--cards-e-texto);
    transition: 0.3s;
}
/* AJUSTAR LINKS DE TERMOS A ESQUERDA */
footer a {
    text-align: left;
}
footer a {
    color: var(--cards-e-texto);
    margin: 0 10px;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--botoes-interatividade);
}
/* AJUSTAR ITENS DO FOOTER */
/* .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex: 1 1 calc(33% - 40px);
    gap:10px;
} */
.fa-brands {
    margin: 10px 10px;
    cursor: pointer;
    font-size: 24px;
    /* width: max-content; */
}

.fa-brands:hover {
    color: var(--botoes-interatividade);
    transition: 0.3s;
}

/* #top{
    position: absolute;
    right: 20px;
    /* top: 25px; */
    /* background: none;
    color: black;
    border: none; */
    /* padding: 10px; */
    /* cursor: pointer;
   font-size: 30px; 

} */

/* #top:hover {
    background: var(--cor-bordas-card);
    color: var(--cor-texto-secundaria);
    transition: 0.3s;
} */

footer p {
    position: absolute;
    margin: 5px 0;
    left: 20px;
    bottom: 10px;
    font-size: 14px;

}

button {
    background: var(--botoes-interatividade);
    color: var(--cards-e-texto);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
button:hover {
    background: var(--botoes-interatividade);
    color: var(--cards-e-texto);
    transition: 0.3s;
}

a {
    color: #f4f4f4;
}

/* <!-- AJUSTAR RESPONSIVIDADE -->
A IMAGEM DO HERO TEM QUE DIMINUIR O TAMANHO E O HERO-CONTENT TEM QUE SER AJUSTADOS PARA ESQUERDA EM TELAS MENORES QUE 760PX COM FELX
O category-nav TEM QUE ADICIONAR ROLAGEM PARA TELAS MENORES QUE 922PX
FOOTER SO ESTA BEM ACIMA DE 1180PX */

